body {
	background: url('images/bg.png') #efefef repeat-x;
}

h1, h2, h3, h4, h5, h6 {
	color:#284378;
	font-weight: 200;
	font-family:"Helvetica Neue", "Helvetica", Sans-Serif;
}

h4 {
	font-weight:400;
}

h1 {	
	font-weight: 100;
}

h3 {
	font-size:1.75em;
}

h3 a {
	color: inherit;
	text-decoration: none;
}

#improveformprompt {
	margin-top:-2em;
	margin-left:1em;
	color:#999;
}

#masthead {
	height: 90px;
	position: relative;
	border-bottom:1px solid #ccc;
}

#masthead h1 {
	float:right;
	margin-top:-90px;
	width:661px;
	line-height: 90px;
	text-align: center;
}

a#logo {
	display: block;
	float:left;
	margin:22.5px 15px;
	width:274px;
	height: 45px;
	text-indent: -9999em;
	background: url('images/logo.png') no-repeat;
}

a.login-button {
	position:absolute;
	top:10px;right:10px;
	padding:5px 10px;
	background:#eee;
	display:block;
	-moz-border-radius:10px;
	border-radius:10px;
	text-decoration:none;
	color:#284378;
}

.ssl_lock_wrapper img {
	display: block;
	margin:90px auto;
}

a#admin-login {
	top:50px;
}

a.login-button:hover {
	background:#fff;
}

a.login-button:active {
	background:#efefef;
}

.columns {
	/* overflow: hidden; */
}

#left {
	position: relative;
	min-height:800px;
}

.left {
}

.left-filters {
	z-index: 1;
}

#form-profile {
	margin-top:3em;
}

#form-profile label, #form-profile input {
	display:block;
}

#form-profile label {
	color:#666;
}

#form-profile input {
	font-size:1em;
	padding:5px 10px;
	width:200px;
}

#left, #right {
	padding-top:45px;
	padding-bottom:3em;
	/* padding-bottom: 5000px;
	margin-bottom:-5000px;*/
}

ul {
	list-style: none;
}

li h3 {
	padding-bottom: 5px;
	border-bottom:1px solid #ccc;
	position: relative;
	letter-spacing: -1px;
}

h2 { position:relative;}

h2 a small {
	position: absolute;
	right:0;
	bottom:5px;
	font-weight: normal;
	font-size: 0.6em;
}

ul li {
	margin:15px auto;
}

li ul li {
	margin-left:3px;
	padding-left:5px;
}

li.selected, li ul li:hover {
	color: #284378;
	border-left:3px solid #ccc;
	margin-left:0;
	padding-left:5px;
}

.book {
	margin-bottom: 3em;
}
.cover {
	position: relative;
}
.cover img {
	width:100%;
	border-right:3px solid #ddd;
	border-bottom:3px solid #ddd;
}

.cover span {
	display: block;
	text-align: center;
}

.cover span img {
	width:100%;
	margin:0 auto;
	margin-top:-10px;
	border:0;
}

.title h3 {
	margin:0;
	letter-spacing: .05em;
}
.title > label {
	display: block;
	color:#666;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
	font-weight: normal;
}

.title p {
	margin-bottom:5px;
	color:#666;
	font-size: 0.95em;
	font-style: italic;
}

.title p a {
	color:#06C;
	font-weight: 400;
}

#feedbacktext {
	margin-top:-1em;
	color:#aaa;
	width:220px;
	height:3em;
	font-family: Helvetica, sans-serif;
	font-size:1.125em;
	line-height: 1.25em;
}

.login-link {
	display: block;
	margin:5px auto;
	text-align: center;
	font-family: serif;
	font-size: 1.5em;
	font-style: italic;
}

#sendButton {
	float: right;
}

#footer {
	position:relative;
	height: 120px;
	border-top:1px solid #ccc;
	padding-top:15px;
}

#footer p {
	margin:0;
	text-align: center;
	color: #999;
}

#form-booksearch {
	margin-top:-10px;
}

#form-booksearch-keywords {
	width:550px;
	height:2em;
	padding:0; margin:0;
	font-size: 1.25em;
	color:#999;
	border:1px solid #ccc;
	padding-left:10px;
}
#form-booksearch-submit {
	padding:0;margin:0;
	height:2.15em;
	background: white;
	border:1px solid #ccc;
	font-size: 1.25em;
	margin-left:-3px;
	border-left:0;
	padding:5px;
	cursor:pointer;
	color:#666;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.addThisBookButton {
	padding:0;margin:10px auto;
	border:1px solid #ccc;
	font-size: 0.95em;
	padding:5px;
	cursor:pointer;
	color:#333;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.addThisBookButton:active {
	background: rgb(200,200,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(204,204,204,1) 100%, rgba(238,238,238,1) 0%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(204,204,204,1)), color-stop(0%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,rgba(204,204,204,1) 100%, rgba(238,238,238,1) 0%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,rgba(204,204,204,1) 100%, rgba(238,238,238,1) 0%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,rgba(204,204,204,1) 100%, rgba(238,238,238,1) 0%); /* IE10+ */
	background: linear-gradient(top,rgba(204,204,204,1) 100%, rgba(238,238,238,1) 0%); /* W3C */
}

#sendButton {
	padding:0;margin:10px auto;
	border:1px solid #ccc;
	font-size: 0.95em;
	padding:5px;
	cursor:pointer;
	color:#284378;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.login-div {
	margin-top:3em;
	padding-bottom:3em;
}

.searchResults h3 {
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
}

.searchResults {
	margin-top:30px;
}

.searchResults .book {
	text-align: center;
}

.searchResults .book img.bookCover {
	border:3px solid #aaa;
	height:75px;
}

.searchResults .book img {
	display: block;
	margin:3px auto;
}

.searchResults span img {
	width:50%;
}

.searchResults label {
	display: block;
	font-weight: normal;
	margin-top:-15px;
}

.searchResults h4 {
	font-weight: bold;
}

.book-meta-data h4 {

}

.book-meta-data {
}

.book-meta-data input, .book-meta-data label {
	display: block;	
}

.book-meta-data .checkbox-container {
	display: block;
	height: 1em;
	margin:1em 15px;
}

.book-meta-data .checkbox-container label {
	display: block;
	margin-left:2em !important;
	line-height: 1em;
}

.book-meta-data textarea {
	margin-top:-1em;
	height:auto;
	font-family: Helvetica, sans-serif;
	font-size:1.1em;
	line-height: 1.25em;
	color:#333;
}

.book-container {
	padding:10px 0 10px 10px;
}

.newestBook {
}
.author {
	display: block; 
	overflow: visible;
	width:100%;
	margin-bottom:1em;
}
.author a {
	font-style: italic;
	font-weight: normal;
}

.author label {
	font-weight: bold;
}

.author a, .author p {
	display: inline;
}

.author p {
	display: block;
}

.no-books {
	text-align: center;
	display: block;
	font-size: 2em;
	font-weight: 100;
	font-style: italic;
	width:75%;
	margin:0 auto;
	color:#666;
}

.author img {
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}

.author img {
	margin:5px;
	margin-top:0;
	width:25px;
}

.about-us {
	color: #888;
	font-size: 1.25em;
	line-height: 1.5em;
	font-weight: 200;
	text-align: center;
	font-style: italic;
}

.form-update-submit, .form-update-loader {
	float:left;
}

.book .form-addBook .form-addBook-loader {
	display: none;
}

.form-feedback-loader{
	margin-top:15px;
	margin-right:15px;
	float: right;
}

.form-update-loader, .form-feedback-loader {
	margin-top:15px;
	margin-left:15px;
	display:none;
}

#columns h2 {
	margin-top:1em;
}

/** DEBUG **/
