<!DOCTYPE html>
<html lang=en>
<head>
	<title>{{ page_title }}{%if page_title%}, {%endif%}Informatics Book List</title>
	<link rel="stylesheet" href="/media/assets/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/media/assets/css/blueprint/print.css" type="text/css" media="print"> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/media/assets/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link rel="stylesheet" href="/media/assets/css/style.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://books.google.com/books/previewlib.js"></script>
	
	<style type="text/css">
		form {
			margin: 0 auto;
			width: 400px;
		}
		
		p {
			text-align: center;
		}
		h1 {
			text-align: center;
		}
		
		#form-login input {
			padding:5px 10px;
			width:75%;
		}
		
		#form-login-submit {
			width:auto !important;
			margin:0 auto;
		}
		
		#form-login label {
			display: block;
		}
		
		#id_username {
			color:#666;
		}
	</style>
</head>

<body>
	<div class="container">
	<!-- Masthead -->
	<div id="masthead" class="span-24">
		<a href="/" id="logo">
			UCIrvine | Department of Informatics
		</a>
		<h1>
			Informatics Booklist
		</h1>
	<!-- /Masthead --></div>
	
	<div class="span-4 colborder ssl_lock_wrapper">
		<img src="/media/assets/css/images/ssl_lock.png" />
	</div>
	<div id="login-div" class="login-div span-11 append-8 last">
	<h2>Login with Your UCInetID</h2>
		{% if form.errors %}
		<div class="span-8 error" style="float:none; margin-left:12px;padding:0;"><p style="padding:0;margin:0;">Your username and password didn't match. Please try again.</p></div>
		{% endif %}

		<form id="form-login" class="centralform" method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
			<div>
				{% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
				<label for="id_username" class="required">Username:</label> {{ form.username }}
			</div>
			<div>
				{% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
				<label for="id_password" class="required">Password:</label> {{ form.password }}
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
			<div>
				<label>&nbsp;</label><input type="submit" value="Login" id="form-login-submit"/>
			</div>
		</form>
	</div>
		
	<div id="footer" class="span-24">
		<p>Copyright &copy; 2012 University of California, Irvine</p>
		<p>Donald Bren School of Information and Computer Science</p>
		<p>Department of Informatics</p>
		<p>Designed and Developed By: Sam Kaufman & Team Tremendous</p>
	<!-- /footer --></div>
<script type="text/javascript">
var contentHeight = ($(window).height() - $("#masthead").height() - $("#footer").height());
	$(".ssl_lock_wrapper").css("height", contentHeight);
var defaultText = "e.g. PeterAnteater";
$(document).ready(function(){
		$("#id_username").val(defaultText);
	});
$("#id_username").click(function(event) {
	if(this.value == defaultText)
		$(this).val("");
	else
		$(this).select();
	$(this).css("color", "#333");
});

$("#id_username").blur(function(event) {
	if(!this.value) {
		$(this).val(defaultText);
		$(this).css("color","#666");
	}
});

$("#form-login").submit(function(event){
	$("#form-login-submit").val("Logging in…");
});
</script>	
</body>
</html>